*.class
*.log
target/

### IntelliJ IDEA ###
.idea/
.bsp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Mac OS ###
.DS_Store

# I don't want to expose them by mistake
**/credentials.properties